li{
    list-style: none;
    padding: 10px;
    font-size: larger;
    color: black;
    
}
a{
    text-decoration: none;
}
ul{
    display: flex;
}
li:hover{
    background-color: aqua;
    border-radius: 5px;
}
.nav > ul{
    display: flex;
}